html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.announcement{
    padding: 1rem;
    grid-area: announcement;
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.announcement-h2{
    grid-area: announcement-h2;
}

.card{
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border-left: 5px solid gold;
    border-radius: 5px;
    grid-area: card;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
}

.header{
    padding-left: 2rem;
    padding-top: 2rem;

    grid-area: header;
    background-color: green;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10vh 10vh;
    grid-template-areas:
    "searchbar hfrname"
    "hsrgreet hsrbuttons";
}

.header-firstrow-name{
    grid-area: hfrname;
    margin: 0;
}

.header-secondrow-buttons{
    grid-area: hsrbuttons;
    align-self: center;
}

.header-secondrow-greeting{
    grid-area: hsrgreet;
}

.main-content{
    padding-left: 2rem;
    background-color: blue;

    gap: 1rem;
    display: grid;
    grid-area: main;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:  
    "main-content-cards main-content-stuff";
}

.main-content-cards{
    height: fit-content;
    width: fit-content;
    gap: 1rem;

    grid-area: main-content-cards;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas:  
    "your-projects ."
    "card1 card2"
    "card3 card4"
    "card5 card6";
}

.main-content-stuff{
    height: 20vh;
    width: fit-content;
    gap: 1rem;

    grid-area: main-content-stuff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7.5fr 1fr 7.5fr;
    grid-template-areas:  
    "announcement-h2"
    "announcement"
    "trending-h2"
    "trending";
}

.main-title-h2{
    grid-area: your-projects;
}

.searchbar{
    grid-area: searchbar;
    width: 40vw;
    border-radius: 10px;
    height: 3.5vh;
}

.sidebar{
    padding-left: 2rem;

    grid-area: sidebar;
    background-color: red;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "sidebar-title"
    "sidebar-first"
    "sidebar-second";
}

.sidebar-first{
    grid-area: sidebar-first;
}

.sidebar-second{
    grid-area: sidebar-second;
}

.title{
    grid-area: sidebar-title;
}

.trending-card{
    padding: 1rem;
    grid-area: trending;
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.trending-h2{
    grid-area: trending-h2;
}
