html, body{
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:  
    "sidebar header"
    "sidebar main-content";
}

/* SIDEBAR */
.sidebar{
    grid-area: sidebar;
    background-color: aqua;

    padding-left: 2rem;
}

/* HEADER */
.header{
    grid-area: header;
    background-color: #FFF;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "h-row1"
    "h-row2";

    padding: 2rem 1rem;
}

.header-row1{
    grid-area: h-row1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:  
    "hrow1-1 hrow1-2";

    height: 10vh;
    padding-left: 2vw;
}

    .h-row1-1{
        grid-area: hrow1-1;
        display: flex;
        gap: 1vw;
    }

    .h-row1-2{
        grid-area: hrow1-2;
        display: flex;
        gap: 1vw;
        height: 8vh;
        align-items: center;
    }

.header-row2{
    grid-area: h-row2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:  
    "hrow2-1 hrow2-2";

    height: 10vh;
    padding-left: 2vw;
}

    .h-row2-1{
        grid-area: hrow2-1;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:  
        "hprofilepic1 hgreeting"
        "hprofilepic1 hname1";

        gap: 1vw;
    }

    .h-row2-2{
        grid-area: hrow2-2;
        gap: 1vw;

        display: flex;
        align-items: flex-end;
    }

/* MAIN */
.main-content{
    grid-area: main-content;
    background-color: aliceblue;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:  
    "mcolumn1 mcolumn2";


    padding-left: 2vw;
    padding-top: 1vh;
}

.main-column1{
    grid-area: mcolumn1;
}

.main-column2{
    grid-area: mcolumn2;
}


/* TAGS */


/* HEADER TAGS */
#h-profilepic1{
    grid-area: hprofilepic1;
}

#hgreeting{
    grid-area: hgreeting;
    margin: 0;
}

#h-name1{
    grid-area: hname1;
}

#h-input{
    width: 40vw;
    height: 5vh;
}

#h-lupa{
    height: 7vh;
}

/* SIDEBAR TAGS */
#dashboard{
    margin-bottom: 8vh;
    margin-right: 3vw;
}

#sidebar-nav{
    margin-bottom: 8vh;
}